*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    min-height: 30vh;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: -7px -7px 10px rgba(0, 0, 0, 0.1),
    7px 7px 10px rgba(0, 0, 0, 0.1);
}

.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
    position: relative;
    left: 55px;
}



.menu{
    width: 25px;
    cursor: pointer;
    position: relative;
    right: 31px;
    top: 1px;

}

.nav{
    flex:1;
    text-align: right;
    position: relative;
    right: 10px;
}

.nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
    font-size: 14px;
}

.nav :link{
    text-decoration: none;
    color: black;
}

.nav :visited{
    text-decoration: none;
    color: black;
}

.nav :hover{
    text-decoration: none;
    color: rgb(248, 209, 70);
}

.search{
    width: 80px;
    height: 41px;
    position: relative;
    left: 94px;
}

.search input{
    width: 400px;
    height: 35px;
}

.fa.fa-search{
    position: relative;
    bottom: 27px;
    left: 375px;
    cursor: pointer;
}

.fa.fa-search input{
    cursor: pointer;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: left;
    
    
}

.col-1{
    position: relative;
    top: 43px;
    left:122px;

}

.col-1{
    flex-basis: 40%;
}

.col-1 h2{
    font-size: 50px;
    color: black
}

.col-1 h3{
    color: gray;
    font-size: 30px;
}

.col-1 h4{
    color: green;
}

.gold{
    width: 50%;
    display: flex;
    position: relative;
    left: 260px;
}

.gradient{
    position: absolute;
    right: 19px;
    top: 450px;
    background: linear-gradient(to right,#ff54a2,#ff575a);
    border-radius: 20px 0 0 20px;
    height: 33%;
    width: 47%;
    z-index: -1;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
}

.hr1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social1{
    box-shadow: -7px -7px 10px rgba(0, 0, 0, 0.1),
    7px 7px 10px rgba(0, 0, 0, 0.1);
    margin: 10px 15px;
    cursor: pointer;
}

.foot{
    border: none;
    outline: none;
    background-color: whitesmoke;
    box-shadow: -7px -7px 10px rgba(0, 0, 0, 0.1),
    7px 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
}

.lore{
    margin: 10px;
    font-size: 14px;
    line-height: 1.28;
}